@use "./variables" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: white;
}

section {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.container {
  width: auto;
  height: auto;
  padding: 20px;
  padding-top: 50px;
  background-color: black;
}

.display-screen {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  &__text {
    font-size: 50px;
  }
}

.button {
  &__special {
    width: 50px;
    height: 50px;
    margin: 2px;
    border-radius: 50%;
    color: black;
    font-size: 24px;
    border: none;
  }

  &__number {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $button-color;
    border: none;
    font-size: 24px;
  }

  &__operator {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $right-operators-color;
    border: none;
    font-size: 24px;
  }

  #zero {
    width: 100px;
    border-radius: 50px;
    text-align: left;
    padding: 15px;
  }
}
